html, body {
    height: 100%;
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 0px !important;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.content-area, .article-tree{
    background: #bada55;
    overflow: auto;
    height: 100%;
}

main {
    flex: 1;
    margin: 50px 0px;
    overflow:auto;
    min-height: calc(100% - 270px);
}

footer {
    height: 6vh;
}
