{% extends "base.html" %}
{% load static %}

{% load leaflet_tags %}

{% block title %}
  <title>Geoview</title>
{% endblock %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/geoview.css' %}">
    <!-- Jquery -->
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Local Javascript -->
    <script type="text/javascript" src="{% static '/js/leaflet.ajax.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/leaflet_rotateMarker.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/leaflet_functions.js' %}"></script>
{% endblock %}

{% block body-fluid %}
<script type="text/javascript">

  function map_init (map, options) {
    // Filter variables
    var ais_filter = '{{form.AIS}}';
    var dab_filter = '{{form.DAB}}';

    console.log(ais_filter)
    console.log(dab_filter)

    // Add AIS data
    if (ais_filter.includes('checked')) {
      addDataset({
        url:"{% url 'ais-data' %}",
        popuptitle:'AIS',
        popupfields: {
          'pk': 'ID',                     //database name: name to be displayed
          'name': 'Schipnaam',            //database name: name to be displayed
          'mmsi': 'MMSI',                 //database name: name to be displayed
          'course': 'Koers',              //database name: name to be displayed
          'updated_at': 'Laatste ping',   //database name: name to be displayed
        },
        fa_icon:'fa-location-arrow',
        color:'darkblue',
        rotationcorrection:-45
      }).addTo(map);
    }
    
    // Add points data
    addDataset({
      url:"{% url 'geo-point-data' %}",
      popuptitle:'Point',
      popupfields: {
        'pk': 'ID',                     //database name: name to be displayed
        'dab.ship_id': 'Schip naam',
        'dab': 'DAB',
        'aisDecoded': 'AIS',
        'lorawan': 'LoRaWAN',
        'message': 'Bericht',
        'updated_at': 'Laaste update',
      },
      fa_icon:'fa-map-pin',
      color:'black',
      show_position: true,
    }).addTo(map);
    
    // Add circles data
    addDataset({
      url:"{% url 'geo-circle-data' %}",
      popuptitle:'Cirkel',
      popupfields: {
        'pk': 'ID',                   //database name: name to be displayed
        'dab.ship_id': 'Schip naam',
        'dab': 'Dab',
        'aisDecoded': 'Ais',
        'lorawan': 'LoRaWAN',
        'radius': 'Diameter (in meters)',
        'message': 'Bericht',
        'updated_at': 'Laaste update',
      },
      fa_icon:'fa-exclamation-triangle',
      color:'orange',
      isCircle:true,
      show_position: true,
    }).addTo(map);
    
    // Add polygons data
    addDataset({
      url:"{% url 'geo-polygon-data' %}",
      popuptitle:'Polygon',
      popupfields:{
        'pk': 'ID',                   //database name, name to be displayed
        'dab.ship_id': 'Schip naam',
        'dab': 'Dab',
        'aisDecoded': 'Ais',
        'lorawan': 'LoRaWAN',
        'message': 'Bericht',
        'updated_at': 'Laaste update',
      },
    }).addTo(map);
  }

  // Add beautiful date picker
  var jqOld = jQuery.noConflict();
  jqOld(function() {
    options = {
      dateFormat: 'dd/mm/yy'
    };
    jqOld("#datepicker_from").datepicker(options);
    jqOld("#datepicker_till").datepicker(options);
  });
  ( function($) {
    $(document).ready(function() {
      document.getElementById("datepicker_from").defaultValue = getCurrentTime(-7);
      document.getElementById("datepicker_till").defaultValue = getCurrentTime();
    });
	}) ( jQuery );
  // Function creates date NOW in corrent format.
  function getCurrentTime(days = 0) {
    let d = new Date();
    d.setDate(d.getDate() + days);
    let ye = new Intl.DateTimeFormat('nl-NL', { year: 'numeric' }).format(d);
    let mo = new Intl.DateTimeFormat('nl-NL', { month: '2-digit' }).format(d);
    let da = new Intl.DateTimeFormat('nl-NL', { day: '2-digit' }).format(d);
    return da +"/"+ mo +"/"+ ye
  }
</script>

<div class="d-flex flex-wrap">
  <div class="col-lg-2">
    <h3 class="m-3">Filters</h3>
    <form method="post">
      {% csrf_token %}

      <h6 class="m-2">Data datepicker:</h6>
      <div class="input-group date" id="datetimepicker_from" data-target-input="nearest">
        <div class="input-group date" class="input-group-append" data-provide="datepicker" data-toggle="datetimepicker">

          <h6 class="col-lg-2 m-2">From:</h6>
          <input type="text" id="datepicker_from" class="col-lg-10 form-control">
        </div>
      </div>
      <div class="input-group date" id="datetimepicker_till" data-target-input="nearest">
        <div class="input-group date" class="input-group-append" data-provide="datepicker" data-toggle="datetimepicker">
          <h6 class="col-lg-2 m-2">Till:</h6>
          <input type="text" id="datepicker_till" class="col-lg-10 form-control">
        </div>
      </div>

      <table class="d-flex justify-content-center">
        {% if form.subject.errors %}
          <ol role="alertdialog">
              {% for error in form.subject.errors %}
              <li role="alert"><strong>{{ error|escape }}</strong></li>
              {% endfor %}
          </ol>
          {% endif %}
  
          <h6 class="m-2">Select data stream:</h6>
          <table class="table table-hover geofilter">
            <tbody>
          {% for field in form %}
            {% if field.label != 'date_till' and field.label != 'date_from' %}
              <tr class="m-0 p-0">
                <td class="col-lg-1 checkbox">
                  {{ field }}

                  {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                  {% endif %}
                </td>
                <td class="m-0 p-0 col-lg-11">
                  <label>{{ field.label }}</label>
                </td>
              </tr>
            {% endif %}
        {% endfor %}
      </tbody>
      </table>
      <button class="btn btn-primary w-100" type="submit">Toepassen</button>
    </form>
  </div>
  <div class="col-lg-8">
    {% leaflet_map "geoview" callback="window.map_init" %}
  </div>
  <div class="col-lg-2">
    <h3 class="m-2">Map Legend:</h3>
    <table class="table">
      <tr class="m-0 p-0">
        <td class="col-lg-1">
          <i class="fa fa-location-arrow"></i>
        </td>
        <td class="m-0 p-0 col-lg-11 align-middle">
          Ship
        </td>
      </tr>
      <tr class="m-0 p-0">
        <td class="col-lg-1">
          <i class="fa fa-map-pin"></i>
        </td>
        <td class="m-0 p-0 col-lg-11 align-middle">
          Message
        </td>
      </tr>
      <tr class="m-0 p-0">
        <td class="col-lg-1">
          <i class="fa fa-exclamation-triangle"></i>
        </td>
        <td class="m-0 p-0 col-lg-11 align-middle">
          Important Message
        </td>
      </tr>
    </table>

    </br></br>
    <div>
      <b>Groepen waar <i>{{ user.username }}</i> onderdeel van uit maakt:</b>
      <ul>
          {% for value in user.groups.all %}
              <li>{{ value.name }}</li>
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
