{% load static %}
{% load fontawesome_5 %}

<header class="p-3 bg-dark text-white">
  <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <div class="col-12 col-lg-1"></div>

    <a href="/" class="d-flex col-12 col-lg-1 justify-content-center text-white">
      <img class="img-fluid" src="{% static '/img/CFNS_logo_small.png' %}" alt="CFNS logo">
    </a>

    <a href="/" class="d-flex col-12 col-lg-3 justify-content-center text-white">
      <h4>Connectivity Fieldlab North Sea</h4>
    </a>

    <ul class="d-flex nav col-12 col-lg-4 justify-content-start">
      {% for key, value in nav_menu.items %}
        <li><a href="{% url key %}" {% if request.resolver_match.url_name == key %}class="nav-link px-2 text-secondary"{% else %}class="nav-link px-2 text-white"{% endif %}>{{ value }}</a></li>
      {% endfor %}
    </ul>

    <div class="col-12 col-lg-1 mb-md-0 text-center">
    {% if user.is_authenticated %}
      <p>Logged in as </br><a href="{% url 'profile' %}"><b>{{ user.username }}</b></a></p>
    {% endif %}
    </div>

    <div class="col-12 col-lg-1 mb-md-0">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn col-12 {% if request.resolver_match.url_name == 'logout' %}btn-outline-light{% else %}btn-link{% endif %}">logout</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn col-12 {% if request.resolver_match.url_name == 'login' %}btn-outline-light{% else %}btn-link{% endif %}">Login</a>
      {% endif %}
    </div>

    <ul class="nav col-12 col-lg-1 justify-content-center mb-md-0">
      {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}" class="nav-link px-2 text-white">Admin panel</a></li>
        <li><a href="{% url 'api-root' %}" class="nav-link px-2 text-white">API</a></li>
      {% endif %}
    </ul>
  </div>
</header>

