{% extends "base.html" %}
{% load static %}

{% block body %}
    <h2 class="text-center">Changing the future of Maritime Connectivity</h2>
    
    </br>

    <div class="row">
        <table class="col-12">
            <thead>
                <tr>
                    <th scope="col"><h5>Why better connectivity becomes mandatory:</h5></th>
                    <th scope="col"><h5>All we need is to take action by planning the future together – today!</h5></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-6">
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GZ4zj0o32P0"></iframe>
                        </div>
                    </td>
                    <td class="col-6">
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/478822204?h=f5ca70aa88"></iframe>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br><br>
    
    <h2 class="text-center">What we do and why do we need you?</h2>

    <div class="row justify-content-center">
        <p>Commissioned by Rijkswaterstaat, Ministry of Infrastructure and Water Management of the Netherlands, i-River is looking for other partners to setup a Community Fieldlab for maritime validation of wireless communication solutions in the North Sea. It's mission consists of fully digital connected territorial waters and EEZ by 2030. New: download the CFNS-flyer with more info (Dutch + English) or read further about the CFNS on this website.</p>

        <img class="img-fluid" src="{% static '/img/CFNS_infochart_home.png' %}" alt="Info chart">
    </div>

{% endblock %}
