{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>User profile</title>
{% endblock %}

{% block body %}
    <h2>Welcome {{ user.username }} to your personal profile!</h2>
    </br>

    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Full name: {{ user.get_full_name }}</li>
        <li>Groups:
            <ul>
                {% for value in user.groups.all %}
                    <li>{{ value.name }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Email: {{ user.email }}</li>
        <li>Session Started at: {{ user.last_login }}</li>
        <li>Joined at: {{ user.date_joined }}</li>
    </ul>
    <br><br>
    {% if b64code %}
        <p>Base64 Authorization code: <input type="text" value="{{b64code}}" size="40" readonly> </p>
    {% else %}
        <form method="post" class="form-group">
            {% csrf_token %}
            <p>Enter password to view Base64 Authorization code: {{ form.password }} </p>
        </form>
    {% endif %}

    {% if info_msg %}
        <div class="container text-center alert {{ info_type }}" role="alert">
            {{ info_msg }}
        </div>
    {% endif %}

    <br><br><br>
    <p>You may <a href="{% url 'logout' %}">logout here</a>.</p>
{% endblock %}
