{% extends "base.html" %}
{% load static %}

{% load leaflet_tags %}

{% block title %}
  <title>Geoview</title>
{% endblock %}

{% block head %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/geoview.css' %}">
    <script src="{% static '/js/geoview.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="d-flex flex-wrap">
    <div class="col-lg-2">
      <form action="/your-name/" method="post">
        <table class="d-flex justify-content-center">
          {{ form.as_table }}
        </table>
        <input class="w-100" type="submit" value="Submit">
      </form>
    </div>
    <div class="col-lg-10">
      {% leaflet_map "geoview" callback="main_map_init" %}
    </div>
  </div>
</div>
{% endblock %}
