{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Gebruikersprofiel</title>
{% endblock %}

{% block body %}
    <h2>Welcome {{ user.username }} to your personal profile!</h2>
    </br>

    <ul>
        <li>Username: {{ user.username }}</li>
        <li>Full name: {{ user.get_full_name }}</li>
        <li>Groups:
            <ul>
                {% for value in user.groups.all %}
                    <li>{{ value.name }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Email: {{ user.email }}</li>
        <li>Session Started at: {{ user.last_login }}</li>
        <li>Joined at: {{ user.date_joined }}</li>
    </ul>
    <br>
    <p>You may <a href="{% url 'logout' %}">logout here</a>.</p>
{% endblock %}
