{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Send DAB+</title>
{% endblock %}

{% block body %}

<form method="post">
    {% csrf_token %}
    {% if form.subject.errors %}
        <ol role="alertdialog">
            {% for error in form.subject.errors %}
            <li role="alert"><strong>{{ error|escape }}</strong></li>
            {% endfor %}
        </ol>
        {% endif %}

        {% for field in form %}
        <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
            {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
            {{ field }}
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Verstuur DAB</button>
</form>

{% if info_msg %}
    {{ info_msg }}
{% endif %}

{% endblock %}