{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Send DAB+</title>
{% endblock %}

{% block body %}

<div class="d-flex flex-wrap">
    <div class="col-lg-2"></div>

    <form method="post" class="col-lg-8">
        <h2 class="text-center">Verstuur DAB naar een specifiek schip</h2>
        </br>
        {% csrf_token %}
        {% if form.subject.errors %}
            <ol role="alertdialog">
                {% for error in form.subject.errors %}
                <li role="alert"><strong>{{ error|escape }}</strong></li>
                {% endfor %}
            </ol>
            {% endif %}

            {% for field in form %}
            <table class="w-100">
                <tr class="w-100">
                    <div class="fieldWrapper form-group" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                    <td class="col-lg-6">
                        {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
                        </td>
                        <td class="col-lg-6">
                            {{ field }}
                        </td>
                    </div>
                </tr>
            </table>
            {% if field.help_text %}
            <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        {% endfor %}
        </br>
        <button type="submit" class="btn btn-success w-100">Verstuur DAB</button>
    </form>

    <div class="col-lg-2"></div>
</div>

{% if info_msg %}
    {{ info_msg }}
{% endif %}

{% endblock %}