[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.5"
psycopg2-binary = "==2.8.6"
django-bootstrap4 = "==3.0.1"
django-fontawesome-5 = "==1.0.18"
djangorestframework = "==3.12.2"
django-leaflet = "==0.28.1"
pyais = "==1.6.1"
django-geojson = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.9"
